<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lab Manager - Início</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <div class="center">
            <div class="logo">
                <img src="{{ url_for('static', filename='assets/logo_sem_fundo.png') }}" width="100" height="100">
            </div>
            <div class="menu">
                <a href="{{ url_for('estoque') }}">Armazenamento</a>
                <a href="{{ url_for('equipe') }}">Equipe</a>
                <a href="{{ url_for('meu_perfil', username=usuario.username) }}">Meu Perfil</a>
            </div>
            <div class="user">
                <img src="{{ url_for('static', filename='assets/user_model1.jpg') }}">
            </div>
        </div>
        <div class="barra"></div>
    </header>

    <main>
        <h2>Bem-vindo, {{ usuario.nome }}!</h2>
        
        <!-- Barra de busca -->
        <div class="search-container">
            <input type="text" placeholder="O que você está buscando?">
            <button>Buscar</button>
        </div>
    </main>
</body>
</html>
